body{
    background: url("world.png") center no-repeat;

}

h1{
    font-family: Arial;
    text-align: center;
}
#container{
    border-radius: 10px;
    width: 800px;
    height: 800px;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    


}

#container:hover .card1{
    transform: rotateY(180deg);
    

}
#container:hover .card2{
    transform: rotateY(180deg);

}
#container:hover .card3{
    transform: rotateY(180deg);

}
/* 
.cell{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    font-family: 'Girassol', cursive;
    color: black;
    background-color: floralwhite;
} */


.card1{
    height: 150px;
    width: 150px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
  
    
    
}
.card2{
    height: 150px;
    width: 150px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
  
    
    
}
.card3{
    height: 150px;
    width: 150px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
  
    
    
}

.front,
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    
}

.front2,
.back2
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;
}
.front3,
.back3
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;

}
.front{
    height: 100%;
    width: 100%;
    background-color: floralwhite;
    z-index: 2;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden;

}
.front2{
    height: 100%;
    width: 100%;
    background-color: floralwhite;
    z-index: 2;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden;

}

.front3{
    height: 100%;
    width: 100%;
    background-color: floralwhite;
    z-index: 2;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden;

}
.back{
    height: 100%;
    width: 100%;
    background-color: orange;
    z-index: 1;
    transform: rotateY(180deg);
}
.back2{
    height: 100%;
    width: 100%;
    background-color: orange;
    z-index: 1;
    transform: rotateY(180deg);
}
.back3{
    height: 100%;
    width: 100%;
    background-color: orange;
    z-index: 1;
    transform: rotateY(180deg);
}